@let selectedUsers = users(); @let qty = selectedUsers.length; @if (qty) {
<table class="table">
  <caption>
    Users
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    @for (user of selectedUsers; track $index) {
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td [class.active]="user.active" class="user-status">{{ user.active }}</td>
    </tr>
    }
  </tbody>
</table>
}
<button type="button" [disabled]="!isAddNewButtonEnabled()" class="btn btn-primary" (click)="openAddNewUserModal()">Add user</button>
